<div id="leftSideNavigation" class="leftSideNavigation">
<center>
<a href="http://groups.geni.net/geni/wiki/LAMP"><img align="center" height="100" style="border-style: none; padding-bottom: 10px;" src="/toolkit/content/images/lamp-logo.png"></a><br>
</center>
<ul>
<li class="title">Slice Overview</li>
<li><a href="/toolkit/gui/services">Configuration Status</a></li>
<li><a href="/toolkit/gui/perfAdmin/directory.cgi">Registered Services</a></li>
</ul>
<ul>
<li class="title">Visualization</li>
<!-- <li><a href="/periscope">Periscope</a></li> -->
<li><a href="/toolkit/gui/perfAdmin/directory.cgi#PSB_BWCTL"">Throughput</a></li>
<li><a href="/toolkit/gui/perfAdmin/directory.cgi#PSB_OWAMP"">One-Way Latency</a></li>
<li><a href="/toolkit/gui/perfAdmin/directory.cgi#PINGER">Ping Latency</a></li>
<li><a href="/toolkit/gui/perfAdmin/directory.cgi#SNMP">Host Monitoring</a></li>
</ul>
<ul>
<li class="title">Configuration</li>
<!-- <li><a href="/toolkit/admin/administrative_info">Access Policy</a></li> -->
<li><a href="/toolkit/admin/enabled_services">Enabled Services</a></li>
<li><a href="/toolkit/admin/ntp">Clock Synchronization</a></li>
<li><a href="/toolkit/admin/regular_testing">Scheduled Tests</a></li>
</ul>
<ul>
<li class="title">LAMP I&M System</li>
<li><a rel="external" target="_blank" href="http://groups.geni.net/geni/wiki/LAMP/Tutorial">Configuration Help</a></li>
<li><a rel="external" target="_blank" href="http://groups.geni.net/geni/wiki/LAMP/FAQ">Frequently Asked Questions</a></li>
<li><a rel="external" target="_blank" href="http://groups.geni.net/geni/wiki/LAMP">About</a></li>
<li><a rel="external" target="_blank" href="http://groups.geni.net/geni/wiki/LAMP/Credits">Credits</a></li>
</ul>
<div class="subTitle1">Derived from:</div>
<center>
<a href="http://psps.perfsonar.net/toolkit/"><img align="center" height="100" style="border-style: none" src="/toolkit/content/images/pstk-logo.png"></a>
</center>
<center>
<p>
<a href="http://perfsonar.net/"><img align="center" style="border-style: none" height="50" src="/toolkit/content/images/PerfSONAR-powered-CMYK.png"></a>
</p>
</center>
</div>
