[% USE date %]

[% IF check_time < (date.now - 24*60*60) %]
<div id="host_results_out_of_date_msg" style="color:red">
This list may be out of date. The node list is updated every time the topology is pulled from UNIS (see <a href="/toolkit/gui/services">Configuration Status</a>.
</div>
[% END %]

<table class="basic_table">
    [% FOREACH host_info IN hosts %]
	<tr>
        <td class='top' style="width: 400px" colspan=2>[% host_info.address.address %]</td>
        <td class='top'>
            <a href="#" onClick="add_test_member('[% current_test.id %]', '[% host_info.address.address %]', '[% host_info.address.port %]', '[% host_info.description %]')">Add To Test</a>
        </td>
	</tr>
	[% END %]
</table>
