#
# OpenSSL example configuration file.

# This definition stops the following lines choking if HOME isn't
# defined.
HOME			= .
RANDFILE		= $ENV::HOME/.rnd

####################################################################
[ ca ]
default_ca	= CA_default		# The default ca section
prompt		= no
default_bits	= 1024

####################################################################
[ CA_default ]

dir		= .			# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/cacert.pem 	# The CA certificate
serial		= $dir/serial 		# The current serial number
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/cakey.pem        # The private key
RANDFILE	= $dir/.rand		# private random number file
x509_extensions	= usr_cert		# The extentions to add to the cert

# Extensions to add to a CRL. Note: Netscape communicator chokes on V2 CRLs
# so this is commented out by default to leave a V1 CRL.
# crl_extensions	= crl_ext

default_days	= 2000			# how long to certify for
default_crl_days= 2000			# how long before next CRL
default_md	= md5			# which md to use.
preserve	= no			# keep passed DN ordering
unique_subject  = no

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_match

# For the CA policy
[ policy_match ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= match
emailAddress		= optional

[ CA_usercerts ]
dir		= .			# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/cacert.pem 	# The CA certificate
serial		= $dir/serial 		# The current serial number
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/cakey.pem        # The private key
RANDFILE	= $dir/.rand		# private random number file

default_days	= 2000			# how long to certify for
default_crl_days= 2000			# how long before next CRL
default_md	= md5			# which md to use.
preserve	= no			# keep passed DN ordering
unique_subject  = no
copy_extensions = copy

# A few difference way of specifying how similar the request should look
# For type CA, the listed attributes must be the same, and the optional
# and supplied fields are just that :-)
policy		= policy_sslxmlrpc

# For the sslxmlrpc policy
[ policy_sslxmlrpc ]
countryName		= match
stateOrProvinceName	= match
organizationName	= match
organizationalUnitName	= optional
commonName		= optional
emailAddress		= optional

[ usr_cert ]
# These extensions are added when 'ca' signs a request.

# This goes against PKIX guidelines but some CAs do it and some software
# requires this to avoid interpreting an end user certificate as a CA.
basicConstraints=CA:FALSE

# PKIX recommendations harmless if included in all certificates.
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid,issuer:always

[ CA_syscerts ]
dir		= .			# Where everything is kept
certs		= $dir/certs		# Where the issued certs are kept
crl_dir		= $dir/crl		# Where the issued crl are kept
database	= $dir/index.txt	# database index file.
new_certs_dir	= $dir/newcerts		# default place for new certs.

certificate	= $dir/cacert.pem 	# The CA certificate
serial		= $dir/serial 		# The current serial number
crl		= $dir/crl.pem 		# The current CRL
private_key	= $dir/cakey.pem        # The private key
RANDFILE	= $dir/.rand		# private random number file

default_days	= 2000			# how long to certify for
default_crl_days= 2000			# how long before next CRL
default_md	= md5			# which md to use.
preserve	= no			# keep passed DN ordering
unique_subject  = no
copy_extensions = copy
policy		= policy_sslxmlrpc

[ CA_crl ]
dir		= .			# Where everything is kept
database	= $dir/crl.txt		# database index file.
crl		= $dir/crl.pem 		# The current CRL
RANDFILE	= $dir/.rand		# private random number file
default_crl_days= 30			# how long before next CRL
preserve	= no			# keep passed DN ordering
unique_subject  = no
